*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --bgcolor--: #ffffff;
    --hrfontcl--: #a8a6a1; 
    --hrbutton--: #1a5544;
    --scfont--: #ababab;
    --firiccol--: #ffcfcb;
    --scicocol--:#ffefb1;
    --thicocol--: #c2e1ff;
    
    
}
/*header*/
.header{
    width: 100%;
    display: flex;
    padding: 35px 30px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.icon a i{
    font-size: 30px;
    color: black;
}
.navbar h1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 700;
}
/*line*/
.line{
    background-color: rgba(212, 210, 210, 0.288);
    height: 10px;
}
.lin1{
    background-color: var(--hrbutton--);
    height: 10px;
    width: 40rem;
}
/*join*/
.join{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    min-height: 80vh;
}
.join-con{
    margin-top: 5rem;
}
.joinh1 h1{
    font-size: 20px;
    color: #b7b6b6;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.joininput{
    margin-top: 30px;
}
.joininput input{
    height: 3rem;
    width: 17rem;
    margin-right: 20px;
    border-radius: 10px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.58);
}
.joininput input::placeholder{
    font-size: 15px;
    color: #b7b6b6;
    font-family: Arial, Helvetica, sans-serif;
   
}
.joinbutton{
    float: right;
    padding-right: 30px;
    margin-top: 20px;
}
.joinbutton a button{
   height: 3rem;
   width: 6rem;
   border-radius: 10px;
   border: none;
   font-weight: 600;
   color: #b7b6b6;
   background-color: #c2e1ff;
}